@model Cursa.ViewModels.Users.UsersViewModel
@{
    ViewBag.Title = "Пользователи системы";
}
<h4>@ViewBag.Title</h4>
<p>
    <a asp-action="Create">
        Добавить
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 21 21">
            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
    </a>
</p>

<table id="userDatatable" class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
    <th>
        @Html.DisplayNameFor(model => model.Id)
    </th>
    <th class="search">
        @Html.DisplayNameFor(model => model.FullName)
    </th>
    <th class="search">
        @Html.DisplayNameFor(model => model.Email)
    </th>
    <th class="search">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </th>
    <th></th>
    </tfoot>
</table>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/userDatatable.js"></script>
}