@model Cursa.ViewModels.ModuleVM.ModuleDisplayViewModel

@{
    ViewData["Title"] = "Модули для карты заказа: ";
}

<h4>@ViewData["Title"] @Model.DestinationOrderCardName (№: @Model.DestinationOrderCardNumber)</h4>

<p>
    <a asp-action="Create" asp-route-subProjectId="">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>Добавить [НЕАКТИВНАЯ ССЫЛКА]
        </a>
</p>
<table id="modulesDatatable" class="table">
    <thead>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualOrderCardId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufacturingData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody></tbody>
    @*     <tbody> *@
    @* @foreach (var item in Model) { *@
    @*         <tr> *@
    @*             <td> *@
    @*                 @Html.DisplayFor(modelItem => item.ModuleType.Code) *@
    @*             </td> *@
    @*             <td> *@
    @*                 @Html.DisplayFor(modelItem => item.DestinationOrderCard.Name) *@
    @*             </td> *@
    @*             <td> *@
    @*                 @Html.DisplayFor(modelItem => item.SerialNumber) *@
    @*             </td> *@
    @*             <td> *@
    @*                 @Html.DisplayFor(modelItem => item.Place) *@
    @*             </td> *@
    @*             <td> *@
    @*                 @Html.DisplayFor(modelItem => item.ActualOrderCard.Name) *@
    @*             </td> *@
    @*             <td> *@
    @*                 @Html.DisplayFor(modelItem => item.ManufacturingData) *@
    @*             </td> *@
    @* *@
    @*             <td> *@
    @*                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | *@
    @*                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> | *@
    @*                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
    @*             </td> *@
    @*         </tr> *@
    @* } *@
    @*     </tbody> *@
    
    @* <tfoot> *@
    @*     <tr> *@
    @*      <th></th> *@
    @*         <th> *@
    @*             @Html.DisplayNameFor(model => model.ModuleType) *@
    @*         </th> *@
    @*         <th> *@
    @*             @Html.DisplayNameFor(model => model.DestinationOrderCardId) *@
    @*         </th> *@
    @*         <th> *@
    @*             @Html.DisplayNameFor(model => model.SerialNumber) *@
    @*         </th> *@
    @*         <th> *@
    @*             @Html.DisplayNameFor(model => model.Place) *@
    @*         </th> *@
    @*         <th> *@
    @*             @Html.DisplayNameFor(model => model.ActualOrderCardId) *@
    @*         </th> *@
    @*         <th> *@
    @*             @Html.DisplayNameFor(model => model.ManufacturingData) *@
    @*         </th> *@
    @* *@
    @*         <th></th> *@
    @*     </tr> *@
    @*     </tfoot> *@
</table>
@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/js/modulesDatatable.js"></script>
}
<script>
        let orderId=@Model.DestinationOrderCardId;
</script>



<style>
   div.dataTables_wrapper {
          /* width: 1350px;*/
           
           margin: 0 auto;
       }
     
        th, td { white-space: nowrap; }
    .in_progress {
        background-color: #20c99750;
    }
    span.empty{
     text-align: center;
    font-size: 70%;
    color: red;
    }
</style>
