@model Cursa.ViewModels.ProjectVM.ProjectViewModel

@{
    ViewData["Title"] = "Проекты";
}

<h4>@ViewData["Title"]</h4>

<p>
    <a asp-controller="Projects" asp-action="Create"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                      </svg>Добавить</a>
</p>
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<table id="projectDatatable" class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th >
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th class="search">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="search">
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th class="search">
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th class="search">
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th></th>
    </tr>
    </tfoot>
</table>

<script>
    let langPath = '@Url.Content("~/language/Russian.json")';
</script>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/projectDatatable.js"></script>
}