@model Cursa.ViewModels.SubProjectVM.SubProjectComplexDisplayViewModel

@{
    ViewData["Title"] = "Реестр проектов";
}

<h4>@ViewData["Title"]</h4>

@* <p> *@
@*     <a asp-action="Create" asp-route-projectId="@Model.ProjectId"> *@
@*         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16"> *@
@*             <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/> *@
@*         </svg>Добавить *@
@*     </a> *@
@* </p> *@
<table id="registerProjectDatatable" class="hover compact order-column" style="width:100%">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubProjectVM.Id)
        </th>

        <th>
            Владелец
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SubProjectVM.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubProjectVM.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubProjectVM.Employee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubProjectVM.StatusName)
        </th>
        <th>
            Контрагент
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubProjectVM.Contract)
        </th>
        @* <th> *@
        @*     @Html.DisplayNameFor(model => model.SubProjectVM.CreatedDate) *@
        @* </th> *@
        @* <th> *@
        @*     @Html.DisplayNameFor(model => model.SubProjectVM.EndDate) *@
        @* </th> *@

        @* <th> *@
        @* </th> *@
    </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
    <tr>
        <th>
            <!--IdSubProject -->
        </th>
        <th class="search">
            <!--Owner -->
        </th>
        <th class="search">
            <!--ProjectName -->
        </th>
        <th class="search">
            @Html.DisplayNameFor(model => model.SubProjectVM.Name)
        </th>
        <th class="search">
            @Html.DisplayNameFor(model => model.SubProjectVM.Code)
        </th>
        <th class="search">
            @Html.DisplayNameFor(model => model.SubProjectVM.Employee.FullName)
        </th>
        <th class="search">
            @Html.DisplayNameFor(model => model.SubProjectVM.StatusName)
        </th>
        <th class="search">
             Контрагент
        </th>
        <th class="search">
            @Html.DisplayNameFor(model => model.SubProjectVM.Contract)
        </th>
        @* <th> *@
        @* *@
        @* </th> *@
        @* <th> *@
        @* *@
        @* </th> *@
        @* <th> *@
        @* </th> *@
    </tr>
    </tfoot>
</table>
<script>
        let projectId=@Model.ProjectId;
</script>

@section Scripts
{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/moment.js/moment.js"></script>
    <script src="~/js/registerProjectDatatable.js"></script>
}

<style>

       @@media (min-width: 1000px) {
                div.dataTables_wrapper {
                   min-width: 1300px;
               }
           }
           
           @@media (max-width: 1000px) {
                div.dataTables_wrapper {
                   min-width: 900px;
               }
           }
        th, td { white-space: nowrap; }
    .in_progress {
        background-color: #20c99750;
    }
    span.empty{
                     text-align: center;
                    font-size: 70%;
                    color: red;
                    }
</style>