@model Cursa.ViewModels.OrderCardVM.OrderCardCreateEditVM

@{
    ViewData["Title"] = "Создать карту заказа";
}
@{
}
<h4>
    @ViewBag.Title @ViewBag.TitleProduct
</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control"/>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ProductId" class="form-control"/>

            <div id="selected-caption">
                Выбрано <span id="selected-caption-num"></span> модулей
            </div>
            @{
                if (Model.ModulesVM!=null)
                {
                    <table>
                        @for (int moduleIndex = 0; moduleIndex < Model.ModulesVM.Count; moduleIndex++)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(x => x.ModulesVM[moduleIndex].Id)
                                    @Html.HiddenFor(x => x.ModulesVM[moduleIndex].Name)
                                    @Html.DisplayFor(x => x.ModulesVM[moduleIndex].Name)
                                </td>
                                @for (int i = 0; i < Model.ModulesVM[moduleIndex].Addresses.Length; i++)
                                {
                                    <td>
                                        @Html.EditorFor(x => Model.ModulesVM[moduleIndex].Addresses[i], new {htmlAttributes = new {@class = $"address-check", data_col = $"{i}"}})
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                }
            }

            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetOrderCardsForProduct" asp-route-productId="@Model.ProductId">Назад</a>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        $(".address-check").change(function() {
            let colNumber = $(this).attr("data-col");
            $(`.address-check[data-col="${colNumber}"]`).prop("disabled", this.checked);
            this.disabled = false;
            let checkedNumber = $('.address-check:checked').length;
                               $("#selected-caption-num").text(checkedNumber);
        });
    });
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}